.DS_Store
.idea
/bin/
/var/
/vendor/
.junie/
/tests/databases/
.phpcs-cache

/tests/.phpunit.result.cache

# isolated vendor bin
vendor-bin/**/vendor
vendor-bin/**/composer.lock
.php-cs-fixer.cache
/tests/var/
/tests/phpunit.local.xml
/tests/.phpunit.cache
/composer.lock

# Coverage output
coverage-xml/
tests/var/coverage-full.xml
tests/var/coverage/
