.DS_Store
.idea
/bin/
/var/
/vendor/
/tests/databases/
/composer.lock
.phpcs-cache

/tests/.phpunit.result.cache

# isolated vendor bin
vendor-bin/**/vendor
vendor-bin/**/composer.lock
.php-cs-fixer.cache
