<?xml version="1.0"?>
<ruleset>
    <arg name="basepath" value="."/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="80"/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>

    <!-- Ignore warnings, show progress of the run and show sniff names -->
    <arg value="nps"/>

    <!-- Directories to be checked -->
    <file>src</file>
    <file>tests</file>

    <!-- Include full Doctrine Coding Standard -->
    <rule ref="Doctrine"/>
    <!-- Class structure -->
    <rule ref="SlevomatCodingStandard.Classes.ClassStructure">
        <exclude-pattern>tests/Test/Platforms/PlatformTestCase.php</exclude-pattern>
        <properties>
            <property name="groups" type="array">
                <!-- Group use statements together -->
                <element value="uses"/>

                <!-- Group use statements together -->
                <element value="uses"/>

                <!-- Constants grouping -->
                <element value="public constants"/>
                <element value="protected constants"/>
                <element value="private constants"/>

                <!-- Group use statements together -->
                <element value="uses"/>

                <!-- Constants grouping -->
                <element value="public constants"/>
                <element value="protected constants"/>
                <element value="private constants"/>

                <!-- Properties grouping -->
                <element value="public properties"/>
                <element value="protected properties"/>
                <element value="private properties"/>
                <element value="public static properties"/>
                <element value="protected static properties"/>
                <element value="private static properties"/>

                <!-- Constructors, including static constructors -->
                <element value="constructor"/>
                <element value="static constructors"/>

                <!-- Destructor -->
                <element value="destructor"/>

                <!-- Enum cases (if using PHP 8.1 enums) -->
                <element value="enum cases"/>

                <!-- Method grouping: public, protected, private -->
                <element value="public methods"/>
                <element value="public static methods"/>
                <element value="protected methods"/>
                <element value="protected static methods"/>
                <element value="private methods"/>
                <element value="private static methods"/>

                <!-- Abstract and final methods -->
                <element value="public abstract methods"/>
                <element value="public static abstract methods"/>
                <element value="public final methods"/>
                <element value="public static final methods"/>
                <element value="protected abstract methods"/>
                <element value="protected static abstract methods"/>
                <element value="protected final methods"/>
                <element value="protected static final methods"/>

                <!-- Magic methods -->
                <element value="magic methods"/>
                </property>
        </properties>
    </rule>
    <rule ref="PSR2.Methods.MethodDeclaration.Underscore">
        <exclude-pattern>src/*.php</exclude-pattern>
    </rule>
	<rule ref="PSR2.Methods.MethodDeclaration.Underscore">
		<exclude-pattern>src/*.php</exclude-pattern>
	</rule>
	<rule ref="Squiz.Commenting.FunctionComment.InvalidNoReturn">
		<exclude-pattern>tests/Test/Platforms/PlatformTestCase.php</exclude-pattern>
	</rule>
	<rule ref="SlevomatCodingStandard.Classes.SuperfluousAbstractClassNaming.SuperfluousPrefix">
    		<exclude-pattern>tests/*.php</exclude-pattern>
    	</rule>

     <!-- Old tests, will be removed in 4.x -->
    <exclude-pattern>tests/Test/Unit/*</exclude-pattern>
    <exclude-pattern>tests/Test/Integration/*</exclude-pattern>
    <exclude-pattern>tests/Test/Resource/*</exclude-pattern>
</ruleset>
