parameters:
    level: 8
    phpVersion: 80300
    paths:
        - src
    # NOTE: SIGSEGV issue with php-firebird extension was resolved in v7.0.0-rc.37
    # See: https://github.com/satwareAG/php-firebird/issues/55
    # See: docs/issues/2025-12-23-phpstan-parallel-segfault-investigation.md
    stubFiles:
        - stubs/FirebirdStub.php
        - stubs/FirebirdOO.php
    bootstrapFiles:
       - vendor/autoload.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - identifier: missingType.generics
        # https://github.com/phpstan/phpstan-strict-rules/issues/103
        -
            message: '~^Construct empty\(\) is not allowed. Use more strict comparison\.~'
            paths:
                - src/Driver/*/Driver.php
                - src/Platforms/*Platform.php
                - src/Schema/*SchemaManager.php

        # In some namespaces, we use array<string,mixed>, some elements of which are actually boolean
        -
            message: '~^Only booleans are allowed in .*, mixed given~'
            paths:
                - src/Platforms/*Platform.php
                - src/Schema/*SchemaManager.php

        -
            message: '#Used function fbird_set_exception_mode not found#'
            paths:
                - src/Driver/Firebird/Connection.php
        -
            message: '#Used constant FBIRD_EXCEPTION_MODE_THROW not found#'
            paths:
                - src/Driver/Firebird/Connection.php

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - phpstan-baseline.neon
