parameters:
	ignoreErrors:
		-
			message: "#^Call to method add\\(\\) on an unknown class Firebird\\\\Batch\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Call to method execute\\(\\) on an unknown class Firebird\\\\Batch\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Call to method getResource\\(\\) on an unknown class Firebird\\\\Transaction\\.$#"
			count: 2
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Call to static method create\\(\\) on an unknown class Firebird\\\\TBuilder\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Call to static method fromResource\\(\\) on an unknown class Firebird\\\\Database\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Class Firebird\\\\Transaction not found\\.$#"
			count: 2
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Constant FBIRD_COMMITTED not found\\.$#"
			count: 2
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Constant FBIRD_CONCURRENCY not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Constant FBIRD_CONSISTENCY not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Constant FBIRD_NOWAIT not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Constant FBIRD_REC_VERSION not found\\.$#"
			count: 2
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Constant FBIRD_WAIT not found\\.$#"
			count: 2
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Constant FBIRD_WRITE not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Function fbird_drop_table_force not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Function fbird_execute_auto not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Function fbird_kill_attachment not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Function fbird_list_table_blockers not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Function fbird_prepare invoked with 3 parameters, 1 required\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Function fbird_query_params_tx not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Function fbird_release_savepoint not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Function fbird_rollback_savepoint not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Function fbird_savepoint not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Function fbird_trans_start not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Instantiated class Firebird\\\\Batch not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Method Satag\\\\DoctrineFirebirdDriver\\\\Driver\\\\Firebird\\\\Connection\\:\\:createBatch\\(\\) has invalid return type Firebird\\\\Batch\\.$#"
			count: 2
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Method Satag\\\\DoctrineFirebirdDriver\\\\Driver\\\\Firebird\\\\Connection\\:\\:createIndependentTransaction\\(\\) has invalid return type Firebird\\\\TBuilder\\.$#"
			count: 2
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Method Satag\\\\DoctrineFirebirdDriver\\\\Driver\\\\Firebird\\\\Connection\\:\\:executeBatch\\(\\) has invalid return type Firebird\\\\BatchResult\\.$#"
			count: 2
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Method Satag\\\\DoctrineFirebirdDriver\\\\Driver\\\\Firebird\\\\Connection\\:\\:getConnectionInfo\\(\\) has invalid return type Firebird\\\\DbInfo\\.$#"
			count: 2
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Method Satag\\\\DoctrineFirebirdDriver\\\\Driver\\\\Firebird\\\\Connection\\:\\:getOOWrapper\\(\\) has invalid return type Firebird\\\\Database\\.$#"
			count: 2
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^PHPDoc tag @param for parameter \\$transaction with type Firebird\\\\Transaction\\|resource\\|null is not subtype of native type Firebird\\\\Transaction\\|null\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Parameter \\$transaction of method Satag\\\\DoctrineFirebirdDriver\\\\Driver\\\\Firebird\\\\Connection\\:\\:createBatch\\(\\) has invalid type Firebird\\\\Transaction\\.$#"
			count: 2
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Parameter \\$transaction of method Satag\\\\DoctrineFirebirdDriver\\\\Driver\\\\Firebird\\\\Connection\\:\\:executeBatch\\(\\) has invalid type Firebird\\\\Transaction\\.$#"
			count: 2
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Parameter \\$transaction of method Satag\\\\DoctrineFirebirdDriver\\\\Driver\\\\Firebird\\\\Connection\\:\\:queryInTransaction\\(\\) has invalid type Firebird\\\\Transaction\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Used constant FBIRD_COMMITTED not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Used constant FBIRD_CONCURRENCY not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Used constant FBIRD_CONSISTENCY not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Used constant FBIRD_NOWAIT not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Used constant FBIRD_REC_VERSION not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Used constant FBIRD_WAIT not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Used constant FBIRD_WRITE not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Used function fbird_connection_info not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Used function fbird_drop_table_force not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Used function fbird_execute_auto not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Used function fbird_get_limbo_transactions not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Used function fbird_kill_attachment not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Used function fbird_list_table_blockers not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Used function fbird_query_params_tx not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Used function fbird_reconnect_transaction not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Used function fbird_release_savepoint not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Used function fbird_rollback_savepoint not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Used function fbird_savepoint not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Used function fbird_trans_start not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: "#^Constant FBIRD_SVC_SERVER_VERSION not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Driver.php

		-
			message: "#^Used constant FBIRD_SVC_SERVER_VERSION not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Driver.php

		-
			message: "#^Call to method getCode\\(\\) on an unknown class Firebird\\\\Exception\\.$#"
			count: 1
			path: src/Driver/Firebird/Exception.php

		-
			message: "#^Call to method getMessage\\(\\) on an unknown class Firebird\\\\Exception\\.$#"
			count: 1
			path: src/Driver/Firebird/Exception.php

		-
			message: "#^Call to method getSqlState\\(\\) on an unknown class Firebird\\\\Exception\\.$#"
			count: 1
			path: src/Driver/Firebird/Exception.php

		-
			message: "#^Parameter \\#4 \\$previous of class Satag\\\\DoctrineFirebirdDriver\\\\Driver\\\\Firebird\\\\Exception constructor expects Throwable\\|null, Firebird\\\\Exception given\\.$#"
			count: 1
			path: src/Driver/Firebird/Exception.php

		-
			message: "#^Parameter \\$exception of method Satag\\\\DoctrineFirebirdDriver\\\\Driver\\\\Firebird\\\\Exception\\:\\:fromFirebirdException\\(\\) has invalid type Firebird\\\\Exception\\.$#"
			count: 2
			path: src/Driver/Firebird/Exception.php

		-
			message: "#^Used function fbird_sqlstate not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Exception.php

		-
			message: "#^Call to function method_exists\\(\\) with Doctrine\\\\DBAL\\\\Driver\\\\Exception&Firebird\\\\Exception and 'getSqlState' will always evaluate to true\\.$#"
			count: 1
			path: src/Driver/Firebird/ExceptionConverter.php

		-
			message: "#^Constant FBIRD_FETCH_BLOBS not found\\.$#"
			count: 4
			path: src/Driver/Firebird/Result.php

		-
			message: "#^Property Satag\\\\DoctrineFirebirdDriver\\\\Driver\\\\Firebird\\\\Result\\:\\:\\$statement is never read, only written\\.$#"
			count: 1
			path: src/Driver/Firebird/Result.php

		-
			message: "#^Used constant FBIRD_FETCH_BLOBS not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Result.php

		-
			message: "#^Used constant FBIRD_FETCH_DATE_OBJ not found\\.$#"
			count: 1
			path: src/Driver/Firebird/Result.php

		-
			message: "#^Constant FBIRD_CREATE not found\\.$#"
			count: 1
			path: src/Schema/FirebirdSchemaManager.php

		-
			message: "#^Offset 'password' does not exist on array\\{application_name\\?\\: string, charset\\?\\: string, dbname\\: string, defaultTableOptions\\?\\: array\\<string, mixed\\>, default_dbname\\?\\: string, driver\\?\\: 'ibm_db2'\\|'mysqli'\\|'oci8'\\|'pdo_mysql'\\|'pdo_oci'\\|'pdo_pgsql'\\|'pdo_sqlite'\\|'pdo_sqlsrv'\\|'pgsql'\\|'sqlite3'\\|'sqlsrv', driverClass\\?\\: class\\-string\\<Doctrine\\\\DBAL\\\\Driver\\>, driverOptions\\?\\: array, \\.\\.\\.\\}\\.$#"
			count: 1
			path: src/Schema/FirebirdSchemaManager.php

		-
			message: "#^Offset 'user' does not exist on array\\{application_name\\?\\: string, charset\\?\\: string, dbname\\: string, defaultTableOptions\\?\\: array\\<string, mixed\\>, default_dbname\\?\\: string, driver\\?\\: 'ibm_db2'\\|'mysqli'\\|'oci8'\\|'pdo_mysql'\\|'pdo_oci'\\|'pdo_pgsql'\\|'pdo_sqlite'\\|'pdo_sqlsrv'\\|'pgsql'\\|'sqlite3'\\|'sqlsrv', driverClass\\?\\: class\\-string\\<Doctrine\\\\DBAL\\\\Driver\\>, driverOptions\\?\\: array, \\.\\.\\.\\}\\.$#"
			count: 1
			path: src/Schema/FirebirdSchemaManager.php

		-
			message: "#^Used constant FBIRD_CREATE not found\\.$#"
			count: 1
			path: src/Schema/FirebirdSchemaManager.php
