parameters:
    level: 8
    phpVersion: 80200
    paths:
        - src
    # NOTE: SIGSEGV issue with php-firebird extension was resolved in v7.0.0-rc.37
    # See: https://github.com/satwareAG/php-firebird/issues/55
    # See: docs/issues/2025-12-23-phpstan-parallel-segfault-investigation.md
    # NOTE: Use scanFiles (not stubFiles) for vendor stubs so PHPStan discovers
    # fbird_* functions/constants even when ext-firebird is not installed.
    # stubFiles only overrides symbols already known from an installed extension.
    scanFiles:
        - vendor/satwareag/php-firebird-stubs/firebird-stubs.php
        - vendor/satwareag/php-firebird-stubs/firebird-classes.php
        - stubs/firebird-userland-classes.php
        - stubs/firebird-global-functions.php
    bootstrapFiles:
       - vendor/autoload.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - identifier: missingType.generics
        # https://github.com/phpstan/phpstan-strict-rules/issues/103
        -
            message: '~^Construct empty\(\) is not allowed. Use more strict comparison\.~'
            paths:
                - src/Driver/*/Driver.php
                - src/Platforms/*Platform.php
                - src/Schema/*SchemaManager.php

        # In some namespaces, we use array<string,mixed>, some elements of which are actually boolean
        -
            message: '~^Only booleans are allowed in .*, mixed given~'
            paths:
                - src/Platforms/*Platform.php
                - src/Schema/*SchemaManager.php

        # Deprecated DBAL methods called intentionally for backward compatibility
        # These will be updated when we drop support for the current DBAL version
        -
            message: '#Call to deprecated method getName\(\) of class Doctrine\\DBAL\\Schema\\TableDiff#'
            paths:
                - src/Platforms/
        -
            message: '#Call to deprecated method getColumnComment\(\) of class Doctrine\\DBAL\\Platforms\\AbstractPlatform#'
            paths:
                - src/Platforms/
        -
            message: '#Call to deprecated method getOldColumnName\(\) of class Doctrine\\DBAL\\Schema\\ColumnDiff#'
            paths:
                - src/Platforms/
        -
            message: '#Call to deprecated method getVarcharMaxLength\(\) of class#'
            paths:
                - src/Platforms/
        -
            message: '#Call to deprecated method getIdentitySequenceName\(\) of class#'
            paths:
                - src/Platforms/
        -
            message: '#Call to deprecated method getBinaryMaxLength\(\) of class#'
            paths:
                - src/Platforms/
        -
            message: '#Call to deprecated method getTemporaryTableSQL\(\) of class#'
            paths:
                - src/Platforms/

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - phpstan-baseline.neon
