parameters:
	ignoreErrors:
		-
			message: '#^Strict comparison using \=\=\= between Firebird\\Transaction and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Driver/Firebird/Connection.php

		-
			message: '''
				#^Call to deprecated method getCache\(\) of class Doctrine\\DBAL\\Schema\\Sequence\:
				Use \{@see getCacheSize\(\)\} instead\.$#
			'''
			identifier: method.deprecated
			count: 3
			path: src/Platforms/Firebird3Platform.php

		-
			message: '''
				#^Call to deprecated method getModifiedColumns\(\) of class Doctrine\\DBAL\\Schema\\TableDiff\:
				Use \{@see getChangedColumns\(\)\} instead\.$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/Platforms/Firebird3Platform.php

		-
			message: '''
				#^Call to deprecated method getName\(\) of class Doctrine\\DBAL\\Schema\\AbstractAsset\:
				Use \{@see NamedObject\:\:getObjectName\(\)\} or \{@see OptionallyQualifiedName\:\:getObjectName\(\)\} instead\.
				            In SQL context, convert the resulting \{@see Name\} to SQL using \{@see Name\:\:toSQL\(\)\}\. In other
				            contexts, convert the resulting name to string using \{@see Name\:\:toString\(\)\}\.$#
			'''
			identifier: method.deprecated
			count: 2
			path: src/Platforms/Firebird3Platform.php

		-
			message: '''
				#^Call to deprecated method getQuotedName\(\) of class Doctrine\\DBAL\\Schema\\AbstractAsset\:
				Use \{@see NamedObject\:\:getObjectName\(\)\} or \{@see OptionallyQualifiedName\:\:getObjectName\(\)\} followed
				by \{@see Name\:\:toSQL\(\)\} instead\.$#
			'''
			identifier: method.deprecated
			count: 13
			path: src/Platforms/Firebird3Platform.php

		-
			message: '''
				#^Call to deprecated method getRenamedColumns\(\) of class Doctrine\\DBAL\\Schema\\TableDiff\:
				Use \{@see getChangedColumns\(\)\} instead\.$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/Platforms/Firebird3Platform.php

		-
			message: '''
				#^Call to deprecated method getCache\(\) of class Doctrine\\DBAL\\Schema\\Sequence\:
				Use \{@see getCacheSize\(\)\} instead\.$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/Platforms/FirebirdPlatform.php

		-
			message: '''
				#^Call to deprecated method getName\(\) of class Doctrine\\DBAL\\Schema\\AbstractAsset\:
				Use \{@see NamedObject\:\:getObjectName\(\)\} or \{@see OptionallyQualifiedName\:\:getObjectName\(\)\} instead\.
				            In SQL context, convert the resulting \{@see Name\} to SQL using \{@see Name\:\:toSQL\(\)\}\. In other
				            contexts, convert the resulting name to string using \{@see Name\:\:toString\(\)\}\.$#
			'''
			identifier: method.deprecated
			count: 14
			path: src/Platforms/FirebirdPlatform.php

		-
			message: '''
				#^Call to deprecated method getQuotedName\(\) of class Doctrine\\DBAL\\Schema\\AbstractAsset\:
				Use \{@see NamedObject\:\:getObjectName\(\)\} or \{@see OptionallyQualifiedName\:\:getObjectName\(\)\} followed
				by \{@see Name\:\:toSQL\(\)\} instead\.$#
			'''
			identifier: method.deprecated
			count: 28
			path: src/Platforms/FirebirdPlatform.php

		-
			message: '''
				#^Call to deprecated method getRenamedColumns\(\) of class Doctrine\\DBAL\\Schema\\TableDiff\:
				Use \{@see getChangedColumns\(\)\} instead\.$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/Platforms/FirebirdPlatform.php

		-
			message: '''
				#^Call to deprecated method isQuoted\(\) of class Doctrine\\DBAL\\Schema\\AbstractAsset\:
				Depending on the concrete class of the object, use \{@see NamedObject\:\:getObjectName\(\)\} or
				            \{@see OptionallyNamedObject\:\:getObjectName\(\)\} to get the name\. Then, depending on the type of the
				            name, use \{@see UnqualifiedName\:\:getIdentifier\(\)\}, \{@see OptionallyQualifiedName\:\:getQualifier\(\)\},
				            or \{@see OptionallyQualifiedName\:\:getUnqualifiedName\(\)\} to get the corresponding identifiers\. Then,
				            use \{@see Identifier\:\:\$isQuoted\(\)\}\.$#
			'''
			identifier: method.deprecated
			count: 3
			path: src/Platforms/FirebirdPlatform.php

		-
			message: '''
				#^Call to deprecated method quoteIdentifier\(\) of class Doctrine\\DBAL\\Platforms\\AbstractPlatform\:
				Use \{@link quoteSingleIdentifier\(\)\} individually for each part of a qualified name instead\.$#
			'''
			identifier: method.deprecated
			count: 2
			path: src/Platforms/FirebirdPlatform.php

		-
			message: '#^Method Satag\\DoctrineFirebirdDriver\\Platforms\\FirebirdPlatform\:\:_getCreateTableSQL\(\) has parameter \$name with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Platforms/FirebirdPlatform.php

		-
			message: '#^Method Satag\\DoctrineFirebirdDriver\\Platforms\\FirebirdPlatform\:\:doModifyLimitQuery\(\) has parameter \$limit with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Platforms/FirebirdPlatform.php

		-
			message: '#^Method Satag\\DoctrineFirebirdDriver\\Platforms\\FirebirdPlatform\:\:doModifyLimitQuery\(\) has parameter \$offset with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Platforms/FirebirdPlatform.php

		-
			message: '#^Method Satag\\DoctrineFirebirdDriver\\Platforms\\FirebirdPlatform\:\:doModifyLimitQuery\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Platforms/FirebirdPlatform.php

		-
			message: '#^Method Satag\\DoctrineFirebirdDriver\\Platforms\\FirebirdPlatform\:\:getCreateViewSQL\(\) has parameter \$name with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Platforms/FirebirdPlatform.php

		-
			message: '#^Method Satag\\DoctrineFirebirdDriver\\Platforms\\FirebirdPlatform\:\:getCreateViewSQL\(\) has parameter \$sql with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Platforms/FirebirdPlatform.php

		-
			message: '#^Method Satag\\DoctrineFirebirdDriver\\Platforms\\FirebirdPlatform\:\:getDateDiffExpression\(\) has parameter \$date1 with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Platforms/FirebirdPlatform.php

		-
			message: '#^Method Satag\\DoctrineFirebirdDriver\\Platforms\\FirebirdPlatform\:\:getDateDiffExpression\(\) has parameter \$date2 with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Platforms/FirebirdPlatform.php

		-
			message: '#^Method Satag\\DoctrineFirebirdDriver\\Platforms\\FirebirdPlatform\:\:getDropViewSQL\(\) has parameter \$name with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Platforms/FirebirdPlatform.php

		-
			message: '#^Method Satag\\DoctrineFirebirdDriver\\Platforms\\FirebirdPlatform\:\:getListSequencesSQL\(\) has parameter \$database with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Platforms/FirebirdPlatform.php

		-
			message: '#^Method Satag\\DoctrineFirebirdDriver\\Platforms\\FirebirdPlatform\:\:getListTableConstraintsSQL\(\) has parameter \$table with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Platforms/FirebirdPlatform.php

		-
			message: '#^Method Satag\\DoctrineFirebirdDriver\\Platforms\\FirebirdPlatform\:\:getListTableForeignKeysSQL\(\) has parameter \$table with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Platforms/FirebirdPlatform.php

		-
			message: '#^Method Satag\\DoctrineFirebirdDriver\\Platforms\\FirebirdPlatform\:\:getListViewsSQL\(\) has parameter \$database with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Platforms/FirebirdPlatform.php

		-
			message: '#^Method Satag\\DoctrineFirebirdDriver\\Platforms\\FirebirdPlatform\:\:getSetTransactionIsolationSQL\(\) has parameter \$level with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Platforms/FirebirdPlatform.php

		-
			message: '#^Method Satag\\DoctrineFirebirdDriver\\Platforms\\FirebirdPlatform\:\:getTruncateTableSQL\(\) has parameter \$cascade with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Platforms/FirebirdPlatform.php

		-
			message: '#^Method Satag\\DoctrineFirebirdDriver\\Platforms\\FirebirdPlatform\:\:getTruncateTableSQL\(\) has parameter \$tableName with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Platforms/FirebirdPlatform.php

		-
			message: '#^Class Satag\\DoctrineFirebirdDriver\\Platforms\\Keywords\\FirebirdKeywords extends deprecated class Doctrine\\DBAL\\Platforms\\Keywords\\KeywordList\.$#'
			identifier: class.extendsDeprecatedClass
			count: 1
			path: src/Platforms/Keywords/FirebirdKeywords.php

		-
			message: '''
				#^Call to deprecated method getPlatformOptions\(\) of class Doctrine\\DBAL\\Schema\\Column\:
				Use \{@see getCharset\(\)\}, \{@see getCollation\(\)\}, \{@see getMinimumValue\(\)\}, \{@see getMaximumValue\(\)\}
				            or \{@see getEnumType\(\)\} instead\.$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/Schema/FirebirdComparator.php

		-
			message: '''
				#^Call to deprecated method getName\(\) of class Doctrine\\DBAL\\Schema\\AbstractAsset\:
				Use \{@see NamedObject\:\:getObjectName\(\)\} or \{@see OptionallyQualifiedName\:\:getObjectName\(\)\} instead\.
				            In SQL context, convert the resulting \{@see Name\} to SQL using \{@see Name\:\:toSQL\(\)\}\. In other
				            contexts, convert the resulting name to string using \{@see Name\:\:toString\(\)\}\.$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/Schema/FirebirdSchemaManager.php

		-
			message: '''
				#^Call to deprecated method quoteIdentifier\(\) of class Doctrine\\DBAL\\Platforms\\AbstractPlatform\:
				Use \{@link quoteSingleIdentifier\(\)\} individually for each part of a qualified name instead\.$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/Schema/FirebirdSchemaManager.php
